@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.body {
  margin: 0 auto;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(./img/rocket.svg);
  background-size: contain;
}

.plushies {
  margin: 0 auto;
  display: flex;
  alig-items: center;
  justify-content: center;
  max-width: 1000px;
}

.plushy {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  
}

.plushy__image {
  display: block;
  max-height: 250px;
  max-width: 150px;
}

.plushy__text {
  text-align: left;
}
