.container {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.company {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar__brand {
    display: flex;
    align-items: center;
}

.logo,
.user__icon {
    width: 2rem;
    height: 2rem;
    background-size: contain;
}

.logo {
    background-image: url('./img/logo.svg');
}