.mailbox__container {
    margin: 0 auto;
    disply: flex;
    flex-direction: column;
    max-width: 600px;
}

.account {
    border-radius: 25px;
    background-color: green;
    color: black;
    font-weight: bold;
    padding: 20px 50px;
    width: 100%;
    text-align: center;
}

.messages {
    padding-top: 30px;
    padding-right: 60px;
    text-align: center;
    text-align: right;
    font-weight: bold;
}

.no-unread {
    color: gray;
}